<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944975109458-2vl6ro2dfom7splq0dg1jsbo4uugajru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944975109458-2vl6ro2dfom7splq0dg1jsbo4uugajru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944975109458-i53gqgptm595tjvnnurm6gf86r2n5cj6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKiODUegbZK0_CNluYUpNRJpoIeDoS-QI</string>
	<key>GCM_SENDER_ID</key>
	<string>944975109458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creditdirect.salestoolkit</string>
	<key>PROJECT_ID</key>
	<string>salestoolkitanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>salestoolkitanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944975109458:ios:6fc007c9760ab52a702e8b</string>
</dict>
</plist>